@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@500&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap');

:root {
  --red-label: #d32f2f;
  --blue-label: #2962ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-label {
  color: var(--red-label);
}
.red-input {
  border-color: var(--red-label);
}
.blue-label {
  color: var(--blue-label);
}
.blue-input {
  border-color: var(--blue-label);
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-grid-item {
  display: flex;
}




.box {
  width: 300px;
  height: 200px;
  background-color: blue;
}



.flex {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: start;
}