@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@500&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap');

:root {
  --red-label: #d32f2f;
  --blue-label: #2962ff;
  --gray: #333333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
}
.icon {
  position: absolute;
  margin-block: 19px;
  margin-inline-start: 12px;
  width: 17.96px;
  height: 17.96px;
  display: inline-block;
  vertical-align: middle;
}


.App {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  gap: 2px;
}

.aside {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 237px;
  height: 100vh;
  z-index: 1;
  padding-inline-start: 56.5px;
}
.main {
  margin-inline-start: 237px;
}


.main-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
  margin-block-end: 65px;
}
.main-container {
  margin-block-end: 22px;
  max-width: 1440px;
}
.main-footer {
  color: #9e9e9e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 17px;
}


p.light-title {
  color: #828282;
}
label.red-label {
  color: var(--red-label);
}
input.red-input {
  border-color: var(--red-label);
}
label.blue-label {
  color: var(--blue-label);
}
input.blue-input {
  border-color: var(--blue-label);
}
input.gray-input {
  border-color: var(--gray);
}
input.pi-45 {
  padding-inline-start: 45px;
}
input.sm {
  padding-block: 10px;
}
div.fw-container {
  width: 100%;
}
.r0 {
  right: 12px;
}
.fw-m {
  font-weight: 500;
}
.fw-m::placeholder {
  color: #333333;
}
.main-grid-item {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  width: 100%;
}

.main-grid-item + .main-grid-item {
  margin-block-start: 42px;
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-grid-item {
  display: flex;
}
.main-grid-item.fullwidth-container {
  display: block;
}


.text {
  grid-row: 3 / 4;
  grid-column: span 2;
}





@media (max-width: 500px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
}
@media (min-width: 500px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 43px;
    column-gap: 92px;
  }
}



@media (max-width: 1023px) {
  .app {
    overflow: auto;
  }
  .main {
    margin-inline-start: 0px;
  }
  main.main {
    padding-inline: 20px;
    width: 100%;
    overflow: visible;
  }
  .aside {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-block-end: 1.5rem;
  }
  h1.aside-main-text {
    margin-block-end: 1.8rem;
  }
  .aside-list {
    display: flex;
    gap: .6rem;
  }
  .aside-list > li + li {
    margin-block-start: 0;
  }

}


@media (min-width: 1024px) {
  .aside-list > li + li {
    margin-block-start: 35px;
  }
}


